
/* Global styles */
    * {
        box-sizing: border-box;
        font-family: Arial, sans-serif;
      }
      
      body {
        margin: 0;
        background: linear-gradient(white, rgb(229, 229, 229));
      }

      section{
        margin-bottom: 0px;
        padding-top: 50px;
        border-bottom: 5px solid rgb(132, 4, 4);
      }

      body::-webkit-scrollbar {
        width: 1em;
      }
       
      body::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(130, 6, 6, 0.375);
        background: black;
      }
       
      body::-webkit-scrollbar-thumb {
        background-color: rgb(255, 0, 0);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      /*helpers*/
      .resume{
        padding: 15px;
        margin-bottom: 20px;
        background: transparent;
        color: red;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border: 2px solid red;

      }


      .resume:hover{
        background: black;
      }

      .liner{
        border-bottom: 3px solid #ba0c0c;
        padding-bottom: 10px;
      }
      
      .highlight{
        color: #f31d1d;
      }

      .contain{
        padding: 40px;
        background-color: #1c1c1e;
        color: #eeecec;
        border: 10px solid #890303;
        margin: 30px;
       }

       .profilepic{
        width: 200px;
        height: 210px;
        border-radius: 50%;
        border: 5px solid rgb(238, 31, 31);
        margin-right: 50px;
        margin-bottom: 500px;
       }

       .about ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
       .about li {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 10px 20px;
      }

      .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
      }
      
      .column1 {
        display: flex;
        flex-direction: column;
        flex-basis: 80%;
        flex: 1;
        text-align: justify;
      }

      .column2-about {
        display: flex;
        flex-direction: column;
        flex-basis: 70%;
        flex: 1;
        font-size: 1.4em;
      }

      .column1-about {
        display: flex;
        flex-direction: column;
        flex-basis: 40%;
        flex: 0;
        text-align: center;
      }

      .column2 {
        display: flex;
        flex-direction: column;
        flex-basis: 80%;
        flex: 0;
      }
      .column2 img{
        width: 100px;
      }
      /*Header */
      
     /* Style the header element */
header {
    background-color: #890303;
    color: #fff;
    padding: 10px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Style the navigation menu */
  nav {
    display: flex;
    justify-content: space-between;
  }
  
  /* Style the list items in the navigation menu */
  nav ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
  }
  
  nav ul li {
    margin: 0 0px;
    padding: 10px;
    font-size: 1.4em;
  }
  
  /* Style the links in the navigation menu */
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
  }
  
  /* Style the active link in the navigation menu */
  nav ul li.active {
    background-color: #fff;
    color: #333;
  }
  
  header h1{
    padding-left: 20px;
  }

      header a{
        color: white;
      }
      header a:hover{
        color: white;
        text-decoration: none;
      }
      
      
      header nav ul li:hover {
        border-bottom: 3px solid white;
        cursor: pointer;

      }
      
      
      header nav ul li a {
        text-decoration: none; /* remove default underline for links */
        color: #fff; /* set font color for links */
      }
      
          
      header nav ul li.active {
        border-bottom: 3px solid white;

      }
 


/* About section */
  
  #about h2 {
    font-size: 3em;
    margin-bottom: 30px;
    text-align: center;
  }
  
  #about p {
    font-size: 1.4em;
    line-height: 1.5;
  }

  #about ul li {
    padding: 5px;
    font-size: 19px;
  }
  
  
  /* Experience section */
  #experience {
    padding: 50px;
  }
  
  #experience h2 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  #experience ul {
    margin: 0;
    padding: 0;
  }
  
  #experience li {
    font-size: 1.3em;
    margin-bottom: 20px;
  }
  
  #experience h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  #experience h4 {
    font-size: 1.2em;
    text-align: right;
    color: #999;
    margin-bottom: 10px;
  }
  
  #experience p {
    font-size: 1.2em;
    line-height: 1.5;
  }
  
  #experience .column2 img{
    width: 220px;
  }
  
  /* Education section */
  #education {
    padding: 50px;
  }
  
  #education h2 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  #education h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color:#f31d1d;
  }
  
  #education h4 {
    font-size: 1.2em;
    color: #999;
    margin-bottom: 10px;
  }
  
  #education p {
    font-size: 1.2em;
    line-height: 1.5;
  }
  
  
  /* Skills section */
  #skills {
    padding: 50px;
  }
  
  #skills h2 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
  }
  
  #skills ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #skills li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 10px 20px;
    text-align: center;
  }

  #skills li img{
    width: 80px;
  }
  
  
  /* Contact section */
/* Contact section */
#contact {
    background-color: #dbdbdb; /* set background color */
    padding: 50px; /* add padding to section */
  }
  
  #contact form {
    display: flex; /* enable flexbox layout */
    flex-direction: column; /* stack items vertically */
    max-width: 500px; /* limit form width */
    margin: 0 auto; /* center form horizontally */
  }
  
  #contact label {
    font-size: 1.2em; /* set font size for labels */
    margin-bottom: 10px; /* add space below labels */
  }
  
  #contact input,
  #contact textarea {
    font-size: 1.2em; /* set font size for form fields */
    padding: 10px; /* add padding to form fields */
    margin-bottom: 20px; /* add space below form fields */
    border: none; /* remove form field border */
    border-radius: 5px; /* add rounded corners */
  }
  
  #contact button {
    background-color: #333; /* set background color */
    color: #fff; /* set font color */
    border: none; /* remove button border */
    border-radius: 5px; /* add rounded corners */
    font-size: 1.2em; /* set font size */
    padding: 10px 20px; /* add padding */
    cursor: pointer; /* change cursor on hover */
  }
  
  #contact button:hover {
    background-color: #666; /* darken background color on hover */
  }

  /*Project Sections*/
  #projects {
    padding: 50px;
  }
  
  #projects h2 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  #projects h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color:#f31d1d;
  }
  
  #projects h4 {
    font-size: 1.2em;
    color: #999;
    margin-bottom: 10px;
  }
  
  #projects p {
    font-size: 1.2em;
    line-height: 1.5;
  }
  
  .base{
    background-color: rgb(0, 0, 0);
    margin-bottom: 40px;
    padding: 30px;
    border-left: 5px solid red;
  }
  
  .base:hover{
    background-color: rgb(30, 2, 2);
  }
  /*Footer*/

 footer{
    padding-left: 40px;
    padding-bottom: 40px;
    padding-top: 20px;
    font-size: 1.3em;
 }

 .links{
    font-size: 1.5em;
    margin-right: 20px ;
 }